{% extends "network/layout.html" %}
{% block body %}
<div class="container py-4">
    <div class="row">
        <div class="col-3 d-none d-md-block" id="left-container">
            <div class="card text-center" style="display: block;">
                    <div id="profile-container" >
                    </div>
                    <div class="card-footer text-center py-2">
                        <div class="row">
                            <div class="col-6 border-end">
                                <a class="btn btn-link btn-sm w-100" id='my-feed' username="following">My Feed</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-link btn-sm w-100" id='view-profile' username="{{ user.username }}">My Profile</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8" id="main-container">
            <form id="create_post_form">
                {% csrf_token %}
                <div id="alert"></div>
                <h4> Share your ideas </h4>
                <div class="row">
                    <div class="mb-3">
                        <textarea id="post_content" rows="3" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="">
                        <button class="btn btn-dark" id="create_post_button" type="submit" class="btn btn-primary"> Share </button>
                    </div>
                </div>
            </form>
            <div class="mt-3" id="all-posts-view"></div>
            <div class="mt-3" id="loading_message"></div>
        </div>
        <div class="col-3 d-none d-lg-block" id="right-container">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <h5 class="card-title">Trending Hashtags</h5>
                    <div id="trending-hashtags"></div>
                </div>
            </div>
            <div class="card mt-4">
                    <div class="card-header">
                        <h5>Popular Users</h5>
                    </div>
                    <div class="card-body">
                            {% for user in popular_users %}
                                <a href="#" onclick="user_profile('{{ user.username }}')">@{{ user.username }} ({{ user.num_followers }})</a>
                            {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
